<div class="spinnerLoadcsv" *ngIf="spinnerLoadcsv">
  <div class="spinner-grow"></div>
</div>
<div class="container">
<div class=" col-12 p-0 listingAll">
<div class="logo col-12">
  <img title="" alt="WPS" src="https://content.wpspublish.com/images/thumbs/0008753.png" class="img-responsive img-width">
  <!-- <small class="text-muted">User List</small> -->
  <div class="logout float-right" routerLink="">
    <span class="logoutT">Log Out</span>
    <i class="fa fa-user userImg" aria-hidden="true"></i>
  </div>
</div>

<div class="listSearch col-12 p-0 my-2">
    <h2 class="text-center my-3 mt-0">Cognitive Test Users</h2>
    <input type="text" name="search" class="searchInput" placeholder="Examinee Name..." #sL (keyup)="searchList(sL.value)">
</div>

 <table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">
        <span class="titleT" data-order='asc' #attr1 (click)="orderControl('examineeName',attr1)">Examinee Name</span>
        <i class="fa fa-arrow-up arrowIcon" aria-hidden="true" (click)="orderControl('examineeName',attr1, 'asc')"></i>
        <i class="fa fa-arrow-down arrowIcon" aria-hidden="true" (click)="orderControl('examineeName',attr1, 'desc')"></i>
        </th>
      <th scope="col">
        <span class="titleT" data-order='asc' #attr2 (click)="orderControl('examineeId',attr2)">Examinee Id</span>
        <i class="fa fa-arrow-up arrowIcon" aria-hidden="true" (click)="orderControl('examineeId',attr2, 'asc')"></i>
        <i class="fa fa-arrow-down arrowIcon" aria-hidden="true" (click)="orderControl('examineeId',attr2, 'desc')"></i>

      </th>
      <th scope="col">
        <span class="titleT" data-order='asc' #attr3 (click)="orderControl('age',attr3)">Age</span>
        <i class="fa fa-arrow-up arrowIcon" aria-hidden="true" (click)="orderControl('age',attr3, 'asc')"></i>
        <i class="fa fa-arrow-down arrowIcon" aria-hidden="true" (click)="orderControl('age',attr3, 'desc')"></i>
      </th>
      <th scope="col">
        <span class="titleT" data-order='asc' #attr4 (click)="orderControl('testName',attr4)">Test Name</span>
        <i class="fa fa-arrow-up arrowIcon" aria-hidden="true" (click)="orderControl('testName',attr4, 'asc')"></i>
        <i class="fa fa-arrow-down arrowIcon" aria-hidden="true" (click)="orderControl('testName',attr4, 'desc')"></i>

      </th>
      <th scope="col">
        <span  class="titleT" data-order='asc' #attr5 (click)="orderControl('date',attr5)">Date</span>
        <i class="fa fa-arrow-up arrowIcon" aria-hidden="true" (click)="orderControl('date',attr5, 'asc')"></i>
        <i class="fa fa-arrow-down arrowIcon" aria-hidden="true" (click)="orderControl('date',attr5, 'desc')"></i>

      </th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="shadow" [hidden]="spinnerLoad">
    <tr *ngFor="let user of userList">
      <th scope="row">{{user.id}}</th>
      <td>{{user.examineeName}}</td>
      <td>{{user.examineeId}}</td>
      <td>{{user.age}}</td>
      <td>{{user.testName}}</td>
      <td>{{user.date}}</td>
      <td>
        <i class="fa fa-download" aria-hidden="true" (click)="getCognitiveTestResult(user)"  data-toggle="tooltip" data-placement="top" title="download test results!"></i>
      </td>
    </tr>
    <tr *ngIf="userList&& userList.length == 0">
      <td class="text-center" colspan="7">No data found</td>
    </tr>
  </tbody>
  <tbody class="shadow" *ngIf="spinnerLoad">
    <tr>
      <td class="spinnerLoad text-center" colspan="7">
        <div class="spinner-border text-dark"></div>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
