<div class="logoLogin shadow col-12 p-2">
  <img title="" alt="WPS" width='110px' src="https://ecom-cdn.wpspublish.com/prod/frontend/Wps/wpstheme2/en_US/images/logo_wps.jpg" class="img-responsive img-width">
</div>
<div class="loginT">
  <!-- <img title="" alt="WPS" src="https://content.wpspublish.com/images/thumbs/0008753.png" class="img-responsive img-width"> -->
  <h2>Login</h2>
  <div class="col-12 forms">
    <label class="labels">UserName:</label>
    <input type="text" name="email" [(ngModel)]="userName" class="inputs">
    <label class="labels">Password:</label>
    <input type="password" name="password" [(ngModel)]="password" class="inputs">
    <h5 class="text-danger text-center" *ngIf="errMsg">{{errMsg}}</h5>
    <button type="submit" class="btn btnSubmit" [disabled]='!(userName && password)' (click)="login()">Submit</button>
  </div>
</div>
